@page "/game/{GameId}/{PlayerNumber}"
@rendermode InteractiveServer
@inject NavigationManager navigation 
@* allows you to change url's *@

Game Tick Number: @game.TickNumber

<br />
<button @onclick="game.StartGame">Start Game</button>

@if (game.GameIsRunning == true)
{
    <button @onclick="game.StopGame">End Game</button>
}

@code {
    [Parameter]
    public string GameId { get; set; }
    [Parameter]
    public string PlayerNumber { get; set; }
    Game game;
    protected override void OnInitialized()//"constructor for a blazor page"
    {
        Game? foundGame = GameManager.Games.FirstOrDefault
        (
            g => g.Id.ToString() == GameId
        );
        game = foundGame;
        if (PlayerNumber == "1")
        {
            game.Player1 = "1";
        }
        if (PlayerNumber == "2")
        {
            game.Player2 = "2";
        }
        game.GameUpdated += () => InvokeAsync(StateHasChanged);
    }

    
}