@page "/"
@rendermode InteractiveServer

Game Tick Number: @game.TickNumber

<br />
<button @onclick="game.StartGame">Start Game</button>


@code {
    protected override void OnInitialized()
    {
        game.GameUpdated += () => InvokeAsync(StateHasChanged);
    }
    Game game = new Game();
}