@page "/"
@inject NavigationManager navigation
@rendermode InteractiveServer

<button @onclick="MakeGame">Make Game</button>

@foreach (Game game in GameManager.Games)
{
    @if (game.Player2 == null)
    {
        <div>
            <a href="/game/@game.Id/2">join game</a>
        </div>
    }
}



@code {
    public void MakeGame()
    {

        Console.WriteLine("making new game");
        Game newGame = new();
        GameManager.Games.Add(newGame);

        navigation.NavigateTo($"/game/{newGame.Id}/1");

    }
}